/*
	Kube Professional CSS-framework
	
	Copyright (c) 2012, Imperavi Inc.

	http://imperavi.com/kube/
	
	License: free

*/
/* =Base, reset, normalize
-----------------------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-style: normal;
}
/* Structure tags */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
/* Responsive images and other embedded objects */
img,
object,
embed,
video,
iframe {
  width: auto;
  max-width: 100%;
}
/* Responsive images aspeсt ratio */
img,
video,
iframe {
  height: auto;
}
/* To prevent some browsers from inserting quotes on q and p */
blockquote,
q {
  quotes: none;
}
blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* Table reset */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
thead th,
thead td {
  font-weight: bold;
  vertical-align: bottom;
}
/* Image inside */
a img,
th img,
td img {
  vertical-align: top;
}
/* Webkit browsers reset margin */
button,
input,
select,
textarea {
  margin: 0;
}
textarea {
  overflow: auto;
}
/* Normalize buttons in IE */
button {
  width: auto;
  overflow: visible;
}
/* Hand cursor on clickable controls */
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
/* Trick with vertical align for radio and checkbox  */
input[type="radio"],
input[type="checkbox"] {
  font-size: 110%;
}
/* Horizontal rule reset  */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
}
/* Clearfix */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* =Typography
-----------------------------------------------------------------------------*/
body {
  background: #ffffff;
  color: #000000;
  font-size: 0.875em;
  line-height: 1.5em;
  font-family: Helvetica, Arial, Tahoma, sans-serif;
}
a {
  color: #336699;
}
a:hover {
  color: #19334d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 2.5714285714285716em;
  line-height: 1em;
}
h2 {
  font-size: 2.142857142857143em;
  line-height: 1.1em;
}
h3 {
  font-size: 1.7142857142857142em;
  line-height: 1.3em;
}
h4 {
  font-size: 1.2857142857142858em;
  line-height: 1.3em;
}
h5 {
  font-size: 1.1428571428571428em;
  line-height: 1.3em;
}
h6 {
  font-size: 1em;
  line-height: 1.3em;
  text-transform: uppercase;
}
hgroup h1,
hgroup h2,
hgroup h3,
hgroup h4 {
  margin-bottom: .1em;
}
.subheader {
  font-size: 1.2em;
  font-weight: normal;
  color: #8f8f8f;
  margin-bottom: 1em;
}
p,
ul,
ol,
dl,
dd,
dt,
blockquote,
td,
th {
  line-height: 1.5em;
}
ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0 0 0 2em;
}
ol ol li {
  list-style-type: lower-alpha;
}
ol ol ol li {
  list-style-type: lower-roman;
}
p,
ul,
ol,
dl,
blockquote,
hr,
pre,
hgroup,
table,
form,
fieldset {
  margin-bottom: 1.5em;
}
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 1em;
}
blockquote {
  margin-bottom: 1.5em;
  padding-left: 1.5em;
  border-left: 1px solid #ccc;
  color: #666;
}
blockquote small,
cite {
  color: #888;
  font-style: italic;
}
blockquote p {
  margin-bottom: 1em;
  font-style: italic;
}
small,
blockquote cite {
  font-size: 0.85em;
  line-height: 1;
}
blockquote .pull-right,
.row blockquote .pull-right {
  float: none;
  text-align: right;
  display: block;
}
address {
  font-style: italic;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
sub,
sup {
  font-size: 0.7em;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
figcaption {
  font-size: 0.85em;
  font-style: italic;
}
ins,
mark {
  background-color: #ffee55;
  color: #000000;
  text-decoration: none;
}
pre,
code,
kbd,
samp {
  font-size: 90%;
  font-family: Menlo, Monaco, monospace, sans-serif;
}
pre {
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 1.5em;
  white-space: pre;
  overflow: auto;
}
code {
  padding: 2px 3px;
  display: inline-block;
  line-height: 1;
  background: #f8f8f8;
  border: 1px solid #ddd;
}
kbd {
  padding: 0 6px;
  border-radius: 4px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #ffffff inset;
  background-color: #fafafa;
  border-color: #ccc #ccc white;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  color: #444;
  font-weight: normal;
  white-space: nowrap;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  font-size: 13px;
}
fieldset {
  padding: 2em 1.5em;
  margin-bottom: 1.5em;
  border: 1px solid #dddddd;
}
legend {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 1em;
}
tfoot th,
tfoot td {
  background-color: #f2f2f2;
}
th,
td {
  border-bottom: 1px solid #eeeeee;
  padding: 0.75em 0.5em;
}
/* =Tables
-----------------------------------------------------------------------------*/
table caption {
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 0.5em;
  color: #666;
}
table.simple td,
table.simple th {
  border: none;
  padding: 0.75em 0.7em 0.75em 0;
}
table.bordered td,
table.bordered th {
  border: 1px solid #ddd;
}
table.stroked td,
table.stroked th {
  border-bottom: 1px solid #eee;
}
table.striped tbody tr:nth-child(odd) td {
  background-color: #f8f8f8;
}
table.hovered tbody tr:hover td,
table.hovered thead tr:hover th {
  background-color: #f6f6f6;
}
.thead-gray td,
.thead-gray th {
  background-color: #f0f0f0;
}
.thead-black td,
.thead-black th {
  font-weight: normal;
  color: #f6f6f6;
  color: rgba(255, 255, 255, 0.9);
  background-color: #222;
}
table.bordered .thead-black td,
table.bordered .thead-black th {
  border: 1px solid #444;
}
/* =Forms
-----------------------------------------------------------------------------*/
.forms label {
  display: block;
  margin-bottom: 2px;
}
.descr {
  color: #999999;
  font-size: 0.85em;
  line-height: 1.5em;
}
div.descr {
  margin: 4px 0;
}
.columnar div.descr {
  margin-bottom: 10px;
}
.forms ul {
  list-style: none;
  margin: 0;
}
.forms ul li {
  margin-bottom: 10px;
}
.forms.columnar ul li {
  margin-bottom: 15px;
}
/* liner fieldset */
fieldset.liner {
  border: none;
  padding: 0;
}
fieldset.liner legend {
  padding: 0;
  width: 100%;
  padding-bottom: 12px;
}
fieldset.liner legend span {
  padding: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
  display: block;
}
/* multicolumn */
.forms ul.multicolumn:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.forms ul.multicolumn li {
  float: left;
  margin-right: 12px;
  margin-bottom: 0;
  line-height: 1.8em;
}
.forms ul.multicolumn li label {
  margin-bottom: 0;
}
.forms ul.multicolumn li.width-50 {
  width: 48%;
  margin-right: 2%;
}
.forms ul.multicolumn li.width-33 {
  width: 31%;
  margin-right: 2%;
}
/* columnar */
.forms.columnar legend {
  margin-bottom: 1em;
}
.forms.columnar label {
  float: left;
  width: 150px;
  text-align: right;
  margin-right: 20px;
}
.forms.columnar .push,
.forms.columnar div.descr {
  margin-left: 170px;
}
.forms.columnar li fieldset label {
  float: none;
  width: auto;
  text-align: left;
  margin-right: 0;
}
.forms.columnar li fieldset {
  border: none;
  padding: 0;
  margin: 0;
  padding-left: 170px;
  position: relative;
}
.forms.columnar li fieldset section {
  padding: 0;
  position: absolute;
  width: 150px;
  text-align: right;
  left: 0;
  top: 0;
}
.forms.columnar li fieldset section label {
  float: none;
  width: auto;
  margin-right: 0;
  text-align: right;
}
.forms.columnar li fieldset div.descr {
  margin-left: 0;
}
/* section */
.forms li.form-section {
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding: 1.5em 0 .7em 0;
  font-size: 1.1em;
  margin-bottom: 1.5em;
}
.columnar li.form-section {
  padding-left: 170px;
}
/* tableforms */
table.tableforms td {
  font-size: 90%;
  padding: 1px 10px 3px 0 !important;
  border: none;
}
table.tableforms tr.labels td {
  padding-top: .8em !important;
  font-weight: bold;
}
input[type="radio"],
input[type="checkbox"] {
  position: relative;
  top: -1px;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  position: relative;
  z-index: 2;
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  height: 23px;
  border: 1px solid #ccc;
  margin: 0;
  padding: 1px 2px;
  background-color: white;
  color: #333;
  font-size: 13px;
  line-height: 1;
  border-radius: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: border 0.3s ease-in;
  -moz-transition: border 0.3s ease-in;
  -ms-transition: border 0.3s ease-in;
  -o-transition: border 0.3s ease-in;
  transition: border 0.3s ease-in;
}
textarea {
  line-height: 1.4em;
}
/* Errors and Success */
.error,
.success {
  margin-left: 5px;
  font-weight: normal;
  font-size: 0.85em;
}
input.input-error,
textarea.input-error,
select.input-error,
.input-error {
  border-color: #da3e5a;
  box-shadow: 0 0 0 2px rgba(218, 62, 90, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input.input-success,
textarea.input-success,
select.input-success,
.input-success {
  border-color: #18a011 ;
  box-shadow: 0 0 0 2px rgba(24, 160, 17, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input.input-gray,
textarea.input-gray,
select.input-gray,
.input-gray {
  border-color: #ccc;
  box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input:focus,
textarea:focus {
  outline: none;
  border-color: #5ca9e4;
  box-shadow: 0 0 0 2px rgba(70, 161, 231, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input.input-search,
input[type="search"] {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 0;
  border-radius: 15px;
}
.input-append,
.input-prepend {
  display: inline-block;
  background-color: #eee;
  height: 23px;
  border: 1px solid #ccc;
  margin: 0;
  padding: 1px 8px;
  color: #333;
  font-size: 14px;
  line-height: 23px;
}
.input-prepend {
  margin-right: -1px;
}
.input-append {
  position: relative;
  z-index: 1;
  margin-left: -1px;
}
.btn {
  position: relative;
  cursor: pointer;
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  font-size: 13px;
  font-weight: normal;
  padding: 6px 16px;
  border-radius: 4px;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -ms-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e1e1e1));
  background-image: -webkit-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -o-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: linear-gradient(top, #ffffff, #e1e1e1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1', GradientType=0);
  border: 1px solid #dadada;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  border-bottom-color: #a9a9a9;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 1px 0 rgba(255, 255, 255, 0.6);
  text-shadow: 0 1px 0px #ffffff;
}
.btn,
.btn:hover {
  color: #000;
}
.btn:hover {
  filter: none;
  background: none;
  background: #eee;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.8);
  text-decoration: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
/* Active  */
.btn-big.btn-active,
.btn-big.btn-active:hover {
  padding: 11px 25px;
}
.btn-active,
.btn-active:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4) inset;
  color: #555;
  border: none;
  background: none;
  filter: none;
  background-color: #ddd;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.8);
  padding: 7px 17px 8px 17px;
}
/* Small */
.btn-small {
  padding: 4px 12px;
  font-size: 11px;
}
.btn-small.btn-active {
  padding: 5px 12px;
}
/* Big */
.btn-big {
  padding: 10px 24px;
  font-size: 20px;
}
/* Square */
.btn-square {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* Round */
.btn-round {
  border-radius: 15px;
  border-radius: 0 \0;
  /* ie9 hack */
}
/* Full */
.btn-full {
  width: 100%;
}
/* Group  */
.btn-group {
  display: inline-block;
  margin-right: 2px;
  vertical-align: bottom;
}
.btn-group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.btn-group > .btn,
.btn-group > input {
  float: left;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-left: -1px;
}
.btn-group > .btn:first-child {
  border-radius: 4px 0 0 4px;
}
.btn-group > .btn:last-child {
  border-radius: 0 4px 4px 0;
}
.btn-group > .btn.btn-round:first-child,
.btn-group > .input-search:first-child {
  border-radius: 15px 0 0 15px;
}
.btn-group > .btn.btn-round:last-child,
.btn-group > .input-search:last-child {
  border-radius: 0 15px 15px 0;
}
/* Append  */
.btn-append {
  margin-left: -2px;
  border-radius: 0 4px 4px 0;
}
/* Disabled  */
.btn.disabled,
.btn[disabled] {
  border: none;
  filter: none;
  background: none;
  background-color: #e9e9e9;
  opacity: 0.6;
  cursor: default;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}
/* FF fix */
@-moz-document url-prefix("http://") {
  input[type=submit].btn::-moz-focus-inner,
  button.btn::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
/* =Grid
-----------------------------------------------------------------------------*/
.row {
  margin-bottom: 1.5em;
}
.container.row {
  margin-bottom: 0;
}
.container:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.half,
.third,
.quarter,
.fifth,
.sixth,
.twothird,
.twofifth,
.threefifth,
.fourfifth,
.fivesixth,
.threequarter {
  margin-left: 3.1914893617021276%;
  float: left;
  min-height: 1px;
}
.half:first-child,
.third:first-child,
.quarter:first-child,
.fifth:first-child,
.sixth:first-child,
.twothird:first-child,
.twofifth:first-child,
.threefifth:first-child,
.fourfifth:first-child,
.fivesixth:first-child,
.threequarter:first-child {
  margin-left: 0;
}
.sixth {
  width: 14.007092198581558%;
}
.fifth {
  width: 17.4468085106383%;
}
.quarter {
  width: 22.606382978723403%;
}
.third {
  width: 31.205673758865245%;
}
.half {
  width: 48.40425531914894%;
}
.threequarter {
  width: 74.20212765957446%;
}
.twothird {
  width: 65.60283687943262%;
}
.twofifth {
  width: 38.08510638297872%;
}
.threefifth {
  width: 58.72340425531915%;
}
.fourfifth {
  width: 79.36170212765958%;
}
.fivesixth {
  width: 82.8014184397163%;
}
.push-half,
.push-threequarter,
.push-quarter,
.push-third,
.push-twothird,
.push-fifth,
.push-twofifth,
.push-threefifth,
.push-fourfifth,
.push-sixth,
.push-fivesixth {
  position: relative;
}
.push-half {
  left: 51.59574468085106%;
}
.push-third {
  left: 34.39716312056737%;
}
.push-quarter {
  left: 25.79787234042553%;
}
.push-fifth {
  left: 20.638297872340427%;
}
.push-sixth {
  left: 17.198581560283685%;
}
.push-threequarter {
  left: 77.39361702127658%;
}
.push-twothird {
  left: 68.79432624113474%;
}
.push-twofifth {
  left: 41.27659574468085%;
}
.push-threefifth {
  left: 61.91489361702128%;
}
.push-fourfifth {
  left: 82.55319148936171%;
}
.push-fivesixth {
  left: 85.99290780141843%;
}
.split .half,
.split .third,
.split .quarter,
.split .fifth,
.split .sixth,
.split .twothird,
.split .twofifth,
.split .threefifth,
.split .fourfifth,
.split .fivesixth,
.split .threequarter {
  margin-left: 0;
}
.split .half {
  width: 50%;
}
.split .threequarter {
  width: 75%;
}
.split .quarter {
  width: 25%;
}
.split .third {
  width: 33.3%;
}
.split .twothird {
  width: 66.6%;
}
.split .fifth {
  width: 20%;
}
.split .twofifth {
  width: 40%;
}
.split .threefifth {
  width: 60%;
}
.split .fourfifth {
  width: 80%;
}
.split .sixth {
  width: 16.6%;
}
.split .fivesixth {
  width: 83.4%;
}
.inner {
  padding: 1.5em;
}
.inner-left {
  padding-left: 1.5em;
}
.inner-right {
  padding-right: 1.5em;
}
.inner-nobottom {
  padding-bottom: 1px;
}
.inner-double {
  padding: 3em;
}
.inner-double-left {
  padding-left: 3em;
}
.inner-double-right {
  padding-right: 3em;
}
.inner-double-nobottom {
  padding-bottom: 1px;
}
.row .push-right {
  float: right;
}
.row .centered {
  float: none;
  margin: 0 auto;
}
/* =Blocks
-----------------------------------------------------------------------------*/
.block-two,
.block-three,
.block-four,
.block-five,
.block-six {
  list-style: none;
  margin-left: -3.1914893617021276%;
  margin-bottom: 0;
}
.block-two:after,
.block-three:after,
.block-four:after,
.block-five:after,
.block-six:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.block-two > li,
.block-three > li,
.block-four > li,
.block-five > li,
.block-six > li {
  height: auto;
  float: left;
  margin-bottom: 1.5em;
  margin-left: 3.1914893617021276%;
}
.block-two > li {
  width: 46.80851063829787%;
}
.block-three > li {
  width: 30.141843971631204%;
}
.block-four > li {
  width: 21.80851063829787%;
}
.block-five > li {
  width: 16.80851063829787%;
}
.block-six > li {
  width: 13.47517730496454%;
}
/* =Goodies
-----------------------------------------------------------------------------*/
.image-left {
  float: left;
  margin: 0 1em 1em 0;
}
.image-right {
  float: right;
  margin: 0 0 1em 1em;
}
.image-left img,
.image-right img {
  position: relative;
  top: .4em;
}
p.lead {
  font-size: 1.2em;
}
.supersmall {
  font-size: 0.7em;
}
.small {
  font-size: 0.85em;
}
.big {
  font-size: 1.2em;
}
input.big {
  padding: 2px 0;
  font-size: 1.2em;
}
.text-centered {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.nowrap {
  white-space: nowrap;
}
.clear {
  clear: both;
}
.last {
  margin-right: 0 !important;
}
.end {
  margin-bottom: 0 !important;
}
.handle {
  cursor: move;
}
.normal {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.req,
.required {
  font-weight: normal;
  color: #da3e5a;
}
.highlight {
  background-color: #e5ecf5 !important;
}
/* Width */
.width-33 {
  width: 33%;
}
.width-50 {
  width: 50%;
}
.width-100 {
  width: 100%;
}
input.width-100 {
  width: 98.6%;
}
textarea.width-100 {
  width: 99.4%;
}
select.width-100 {
  width: 99.4%;
}
/* Colors */
.black {
  color: #000000;
}
.gray-dark {
  color: #555555;
}
.gray {
  color: #777777;
}
.gray-light {
  color: #999999;
}
.white {
  color: #ffffff;
}
.red,
.error {
  color: #da3e5a;
}
.green,
.success {
  color: #18a011;
}
/* Link Colors Hover */
a.white:hover {
  color: #d9d9d9;
  color: rgba(255, 255, 255, 0.8);
}
a.green:hover,
a.red:hover,
a.error:hover {
  color: #000000;
}
/* =Responsive Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .row .half,
  .row .third,
  .row .quarter,
  .row .fifth,
  .row .sixth,
  .row .twothird,
  .row .twofifth,
  .row .threefifth,
  .row .fourfifth,
  .row .fivesixth,
  .row .threequarter {
    margin-left: 0;
    width: 100%;
  }
  .push-half,
  .push-threequarter,
  .push-quarter,
  .push-third,
  .push-twothird,
  .push-fifth,
  .push-twofifth,
  .push-threefifth,
  .push-fourfifth,
  .push-sixth,
  .push-fivesixth {
    left: 0;
  }
  .row .pull-right {
    float: none;
  }
  /*
  		Blocks
  	*/
  .block-two,
  .block-three,
  .block-four,
  .block-five,
  .block-six {
    margin-left: 0;
    margin-bottom: 1.5em;
  }
  .block-two > li,
  .block-three > li,
  .block-four > li,
  .block-five > li,
  .block-six > li {
    float: none;
    margin: 0;
    width: 100%;
  }
  /*
  		Forms
  	*/
  .forms.columnar label {
    float: none;
    text-align: left;
    width: auto;
  }
  .forms.columnar .push,
  .forms.columnar div.descr {
    margin-left: 0;
  }
  .forms .multicolumn li {
    float: none;
    margin-right: 0;
  }
  .forms .multicolumn li.width-50,
  .forms .multicolumn li.width-33 {
    width: 100%;
  }
  .forms.columnar li fieldset,
  .forms.columnar li fieldset section {
    width: 100%;
    padding-left: 0;
    text-align: left;
    position: static;
  }
  .forms fieldset {
    padding: 0;
    padding-top: 1em;
    border: none;
  }
  .forms fieldset legend {
    padding: 0;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.



 */
body {
  background-color: #269;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.3) 2px, transparent 2px), -moz-linear-gradient(0, rgba(255, 255, 255, 0.3) 2px, transparent 2px), -moz-linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px), -moz-linear-gradient(0, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.3) 2px, transparent 2px), -o-linear-gradient(0, rgba(255, 255, 255, 0.3) 2px, transparent 2px), -o-linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px), -o-linear-gradient(0, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2) 2px, transparent 2px), -webkit-linear-gradient(0, rgba(255, 255, 255, 0.2) 2px, transparent 2px), -webkit-linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px), -webkit-linear-gradient(0, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px,10px 10px;
  background-position: -18px -20px, -2px -2px, -1px -1px, -1px -1px;
}
.page {
  overflow: auto;
}
.content {
  padding: 20px;
}
.content-header,
.content {
  background-color: #eee;
  height: 100%;
  display: block;
  margin-top: 1.5em;
  -webkit-box-shadow: inset 0 0 0 4px #eeeeee;
  -moz-box-shadow: inset 0 0 0 4px #eeeeee;
  box-shadow: inset 0 0 0 4px #eeeeee;
  overflow: hidden;
  *zoom: 1;
}
/*.content_header h1, .content_header h2, .content_header h3 {
margin: 0; }*/
.content-menu {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 10px;
  background: #dbdbdb;
  /* Old browsers */

  background: -moz-linear-gradient(top, #dbdbdb 0%, #939393 100%, #727272 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dbdbdb), color-stop(100%, #939393), color-stop(100%, #727272));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #dbdbdb 0%, #939393 100%, #727272 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #dbdbdb 0%, #939393 100%, #727272 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #dbdbdb 0%, #939393 100%, #727272 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #dbdbdb 0%, #939393 100%, #727272 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#dbdbdb', endColorstr='#727272', GradientType=0);
  /* IE6-9 */

  height: 100%;
  display: block;
  margin-top: 1.5em;
  margin-bottom: -1.5em;
  overflow: hidden;
  *zoom: 1;
}
.content-menu ul {
  font-weight: bold;
  list-style: none;
}
.content-menu ul li {
  margin: 0;
  list-style-type: none;
  float: left;
  display: table-cell;
}
.content-menu ul li a {
  text-decoration: none;
  color: #777;
  text-shadow: 1px 1px #ffffff;
}
.content-menu ul li a:hover {
  background: none;
}
.content-menu:before,
.content-menu:after {
  display: table;
}
/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: Lead Product Designer @ http://kyruus.com

    */
@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-more-webfont.eot');
  src: url('fontawesome-more-webfont.woff?#iefix') format('embedded-opentype'), url('fontawesome-more-webfont.woff') format('woff'), url('fontawesome-more-webfont.ttf') format('truetype'), url('fontawesome-more-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: middle;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"],
.nav-tabs [class^="icon-"],
.btn [class*=" icon-"],
.nav-tabs [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

  line-height: .9em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large:before,
li .icon-large:before {
  /* 1.5 increased font size for icon-large * 1.25 width */

  width: 1.875em;
}
ul.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -0.8em;
}
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: .8em;
}
ul.icons li .icon-large:before,
ul.icons li .icon-large:before {
  /* 1.5 increased font size for icon-large * 1.25 width */

  vertical-align: initial;
}
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before {
  content: "\f000";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-empty:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-film:before {
  content: "\f008";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-zoom-in:before {
  content: "\f00e";
}
.icon-zoom-out:before {
  content: "\f010";
}
.icon-off:before {
  content: "\f011";
}
.icon-signal:before {
  content: "\f012";
}
.icon-cog:before {
  content: "\f013";
}
.icon-trash:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-file:before {
  content: "\f016";
}
.icon-time:before {
  content: "\f017";
}
.icon-road:before {
  content: "\f018";
}
.icon-download-alt:before {
  content: "\f019";
}
.icon-download:before {
  content: "\f01a";
}
.icon-upload:before {
  content: "\f01b";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-play-circle:before {
  content: "\f01d";
}
.icon-repeat:before {
  content: "\f01e";
}
/* \f020 is not a valid unicode character. all shifted one down */
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-lock:before {
  content: "\f023";
}
.icon-flag:before {
  content: "\f024";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-print:before {
  content: "\f02f";
}
.icon-camera:before {
  content: "\f030";
}
.icon-font:before {
  content: "\f031";
}
.icon-bold:before {
  content: "\f032";
}
.icon-italic:before {
  content: "\f033";
}
.icon-text-height:before {
  content: "\f034";
}
.icon-text-width:before {
  content: "\f035";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-indent-left:before {
  content: "\f03b";
}
.icon-indent-right:before {
  content: "\f03c";
}
.icon-facetime-video:before {
  content: "\f03d";
}
.icon-picture:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-tint:before {
  content: "\f043";
}
.icon-edit:before {
  content: "\f044";
}
.icon-share:before {
  content: "\f045";
}
.icon-check:before {
  content: "\f046";
}
.icon-move:before {
  content: "\f047";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-eject:before {
  content: "\f052";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-sign:before {
  content: "\f055";
}
.icon-minus-sign:before {
  content: "\f056";
}
.icon-remove-sign:before {
  content: "\f057";
}
.icon-ok-sign:before {
  content: "\f058";
}
.icon-question-sign:before {
  content: "\f059";
}
.icon-info-sign:before {
  content: "\f05a";
}
.icon-screenshot:before {
  content: "\f05b";
}
.icon-remove-circle:before {
  content: "\f05c";
}
.icon-ok-circle:before {
  content: "\f05d";
}
.icon-ban-circle:before {
  content: "\f05e";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-share-alt:before {
  content: "\f064";
}
.icon-resize-full:before {
  content: "\f065";
}
.icon-resize-small:before {
  content: "\f066";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-exclamation-sign:before {
  content: "\f06a";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye-open:before {
  content: "\f06e";
}
.icon-eye-close:before {
  content: "\f070";
}
.icon-warning-sign:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-random:before {
  content: "\f074";
}
.icon-comment:before {
  content: "\f075";
}
.icon-magnet:before {
  content: "\f076";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder-close:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-resize-vertical:before {
  content: "\f07d";
}
.icon-resize-horizontal:before {
  content: "\f07e";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-twitter-sign:before {
  content: "\f081";
}
.icon-facebook-sign:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-key:before {
  content: "\f084";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-up:before {
  content: "\f087";
}
.icon-thumbs-down:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-heart-empty:before {
  content: "\f08a";
}
.icon-signout:before {
  content: "\f08b";
}
.icon-linkedin-sign:before {
  content: "\f08c";
}
.icon-pushpin:before {
  content: "\f08d";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-signin:before {
  content: "\f090";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-github-sign:before {
  content: "\f092";
}
.icon-upload-alt:before {
  content: "\f093";
}
.icon-lemon:before {
  content: "\f094";
}
.icon-phone:before {
  content: "\f095";
}
.icon-check-empty:before {
  content: "\f096";
}
.icon-bookmark-empty:before {
  content: "\f097";
}
.icon-phone-sign:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-hdd:before {
  content: "\f0a0";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-bell:before {
  content: "\f0a2";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-hand-right:before {
  content: "\f0a4";
}
.icon-hand-left:before {
  content: "\f0a5";
}
.icon-hand-up:before {
  content: "\f0a6";
}
.icon-hand-down:before {
  content: "\f0a7";
}
.icon-circle-arrow-left:before {
  content: "\f0a8";
}
.icon-circle-arrow-right:before {
  content: "\f0a9";
}
.icon-circle-arrow-up:before {
  content: "\f0aa";
}
.icon-circle-arrow-down:before {
  content: "\f0ab";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-fullscreen:before {
  content: "\f0b2";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-beaker:before {
  content: "\f0c3";
}
.icon-cut:before {
  content: "\f0c4";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-paper-clip:before {
  content: "\f0c6";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-sign-blank:before {
  content: "\f0c8";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-strikethrough:before {
  content: "\f0cc";
}
.icon-underline:before {
  content: "\f0cd";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-pinterest-sign:before {
  content: "\f0d3";
}
.icon-google-plus-sign:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-columns:before {
  content: "\f0db";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-envelope-alt:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-undo:before {
  content: "\f0e2";
}
.icon-legal:before {
  content: "\f0e3";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-comment-alt:before {
  content: "\f0e5";
}
.icon-comments-alt:before {
  content: "\f0e6";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-user-md:before {
  content: "\f200";
}
.icon-apple-logo:before {
  content: "\f500";
}
.icon-windows-8:before {
  content: "\f501";
}
.icon-js-fiddle:before {
  content: "\f502";
}
.icon-skype:before {
  content: "\f503";
}
.icon-youtube-sign:before {
  content: "\f504";
}
.icon-youtube:before {
  content: "\f505";
}
.icon-vimeo-sign:before {
  content: "\f506";
}
.icon-vimeo:before {
  content: "\f507";
}
.icon-lastfm-sign:before {
  content: "\f508";
}
.icon-lastfm:before {
  content: "\f509";
}
.icon-rss-sign:before {
  content: "\f50a";
}
.icon-reddit:before {
  content: "\f50b";
}
.icon-delicious-sign:before {
  content: "\f50c";
}
.icon-wordpress-sign:before {
  content: "\f50d";
}
.icon-wordpress:before {
  content: "\f50e";
}
.icon-git-fork:before {
  content: "\f50f";
}
.icon-blogger-sign:before {
  content: "\f510";
}
.icon-blogger:before {
  content: "\f511";
}
.icon-tumblr-sign:before {
  content: "\f512";
}
.icon-tumblr:before {
  content: "\f513";
}
.icon-flickr-sign:before {
  content: "\f514";
}
.icon-flickr:before {
  content: "\f515";
}
.icon-picasa-sign:before {
  content: "\f516";
}
.icon-picasa:before {
  content: "\f517";
}
.icon-amazon-sign:before {
  content: "\f518";
}
.icon-amazon:before {
  content: "\f519";
}
.icon-yelp-sign:before {
  content: "\f51a";
}
.icon-yelp:before {
  content: "\f51b";
}
.icon-soundcloud:before {
  content: "\f51c";
}
.icon-spotify:before {
  content: "\f51d";
}
.icon-yahoo-sign:before {
  content: "\f520";
}
.icon-yahoo:before {
  content: "\f521";
}
.icon-evernote-sign:before {
  content: "\f522";
}
.icon-evernote:before {
  content: "\f523";
}
.icon-google-sign:before {
  content: "\f524";
}
.icon-google:before {
  content: "\f525";
}
.icon-hacker-news:before {
  content: "\f526";
}
.icon-map:before {
  content: "\f529";
}
.icon-bus-sign:before {
  content: "\f52a";
}
.icon-bike-sign:before {
  content: "\f52b";
}
.icon-car-sign:before {
  content: "\f52c";
}
.icon-taxi-sign:before {
  content: "\f52d";
}
.icon-truck-sign:before {
  content: "\f52e";
}
.icon-handicap-sign:before {
  content: "\f52f";
}
/* =Header
-----------------------------------------------------------------------------*/
#header {
  overflow: hidden;
  font-size: 20px;
  background-color: #000;
  color: #ccc;
  padding: 10px 15px 10px 15px;
}
#header a {
  color: #ccc;
  text-decoration: none;
}
#header #user {
  float: right;
}
#header #logo a {
  color: #66AADD;
}
#header a:hover {
  color: #fff;
  text-decoration: none;
}
#menu li a:hover {
  background: #010101;
}
#header #logo {
  float: left;
  position: relative;
  vertical-align: middle;
}
#header #menu,
#header #user {
  font-size: 14px;
  display: block;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  list-style: none;
  color: #aaa;
}
#header #menu {
  float: left;
}
#header #menu li {
  float: left;
  margin-right: 5px;
}
#menu li a,
#menu li span {
  float: left;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
}
#menu li i {
  float: right;
  padding-left: 5px;
}
.content-header .project-created-by {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.content-header .project-created-by .project-info {
  margin: 0 24px 0 0;
}
.content-header .project-created-by .project-info .voting-mechanism {
  float: left;
  margin: 0 15px 0 0;
}
.content-header .project-created-by .project-info .voting-mechanism .arrow i {
  font-size: 20px;
}
.content-header .project-created-by .project-info .voting-mechanism .score {
  text-align: center;
}
.content-header .project-created-by .project-info .voting-mechanism .score #upvotes,
.content-header .project-created-by .project-info .voting-mechanism .score #downvotes {
  display: none;
}
.content-header .project-created-by .project-info .avatar {
  display: inline;
}
.content-header .project-created-by .project-info .avatar a {
  width: 64px;
  height: 64px;
  float: left;
  margin-right: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.content-header .project-created-by .project-info .avatar a img {
  border: none;
}
.content-header .project-created-by .project-info .project-info-text {
  float: left;
  text-shadow: 0 1px 0 white;
}
.content-header .project-buttons {
  vertical-align: middle;
  text-align: center;
}
#new_project textarea,
#new_project input {
  width: 100%;
}
#new_project textarea {
  resize: none;
  height: 100%;
}
#new_project #step2,
#new_project #step3 {
  display: none;
}
.project-preview {
  float: left;
  margin: 5px;
  width: 250px;
  max-width: 250px;
  background-color: #999;
}
.project-preview .project-details {
  margin-left: 10px;
  margin-right: 10px;
}
.project-preview .project-details .big,
.project-preview .project-details .small {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.project-preview .project-details .big,
.project-preview .project-details .big a {
  color: #444;
}
.project-preview .project-details .small,
.project-preview .project-details .small a {
  color: #666;
}
.project-preview .project-details a,
.project-preview .project-details a:hover {
  text-decoration: none;
  background: none;
}
.project-preview .photo img {
  width: 100%;
}
body {
  color: #333;
}
body,
p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
a {
  color: #000;
}
a:visited {
  color: #666;
}
a:hover {
  color: #fff;
  background-color: #000;
}
div.field,
div.actions {
  margin-bottom: 10px;
}
#notice {
  color: green;
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
